
@media screen and (max-width: 600px) {
    .news_container{
        width: 100%;
        padding: 2em;
    }
}
@media screen and (min-width: 600px) {
    .news_container{
        width: 1000px;
        margin: 50px auto;
        padding: 2em;
        background: #fff;
    }
}