.profile_Container{
    width: 1000px;
    margin: 0 auto !important;
    position: relative;
    padding-top: 50px;
}

.registered_container_lable{
    line-height: 40px;
    height: 32px;
}
.registered_container_form{
    line-height: 32px;
    height: 32px;
}