
.list{
    margin-top: 30px;
}
@media screen and (max-width: 600px) {
    .teacherDetail_Container{
        width: 100%;
        background: #fff;
        padding: 2em;
    }
}
@media screen and (min-width: 600px) {
    .teacherDetail_Container{
        width: 1000px;
        background: #fff;
        margin: 0 auto;
        padding: 2em;
    }
}