
@media screen and (max-width: 600px) {
    .professionDetail_Container{
        background: #fff;
        padding: 25px;
        width: 100%;
    }
}
@media screen and (min-width: 600px) {
    .professionDetail_Container{
        background: #fff;
        margin: 0 auto;
        padding: 25px;
        width: 1000px;
    }
    .professionDetail_content{
        width: 650px;
        float: left;
    }
}