.section{
    width: 800px;
    background: #ffffff;
    margin-bottom: 50px;
    margin-left: 50px;
    border: 1px solo black;
    padding: 0 20px;
}
.contenr_container{
    position: absolute;
    top: 50px;
    left: 120px;
}