@media screen and (max-width: 600px) {
.header_container{
    width: 100%;
}
.header_container img{
    width: 120%;
    height: 120%;
}
.pcMenu{
    display: none;
}
.mobileMenu{
    display: block;
    position: absolute;
    right: 0px;
}
.loginMenu{
    display: none;
}
}
@media screen and (min-width: 600px) {
    .pcMenu{
        display: block;
    }
    .mobileMenu{
        display: none;
    }
    .loginMenu{
        display: block;
      
    }
    .header_container{
        width: 1000px;
        margin: 0 auto;

    }
    .header_container img{
        width: 75%;
        height: 75%;
    }
}
.ant-menu-horizontal{
    font-size: 0.9em !important;
    border: 0px;
    background: #324902;
    color: #ffffff;
}
.ant-menu-horizontal .ant-menu-submenu-active {
    border-bottom: 2px solid #324902 !important;
    color: #324902 !important;
  }
.header_container_outer{
    background: #324902;
}
.header_container{
    display: flex;
    align-items: center;
    background: #324902;
    height:64px;
    line-height: 64px;
    position: relative;
}
