.footer{
    color: white!important;
    background: #333;
    height: 100%;
}
.footer .container{
    margin: 0px auto;
    padding: 20px 0px;
    width: 1000px;
    height: 100%;
}
.footer .content_left{
}
.footer .content_right ul{
    list-style: none;
}
.logo{
    width: 100%;
    height: 100%;
}