@media screen and (max-width: 600px) {
    .footer_container{
        width: 100%;
    }
    .logo{
        width: 100%;
    }
}
@media screen and (min-width: 600px) {
    .footer_container{
        margin: 0px auto;
        width: 1000px;
    }
    .logo{
        width: 100%;
    }
}
.footer{
    color: white!important;
    background: #333;
    width: 100%;
}
 .footer_container{
    padding: 20px 0px;
}
.footer .content_right ul{
    font-size: 1em;
    list-style: none;
}
.content_right,.content_left{
    padding: 0 2em;
}
