.ant-carousel .slick-slide {
    padding: 50px;
    height: 500px;
    line-height: 160px;
    overflow: hidden;
  }
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
  .card{
      width: 1000px;
      margin: 50px auto;
  }
  .img_01{
    background-image: url('../../assets/01.jpg');
  }
  .img_02{
    background-image: url('../../assets/02.jpg')
}
.img_03{
    background-image: url('../../assets/03.jpg')
}
.img_04{
    background-image: url('../../assets/04.jpg')
}
.img_05{
    background-image: url('../../assets/05.jpg')
}

.ant-card-head-title{
    border-bottom: 4px solid rgb(247, 111, 0);
}
.ant-card-head{
    border-bottom:0px;
}