@media screen and (max-width: 600px) {
    .cardItem{
        width: 100%;
    }
    .card{
        flex-direction: column;
        width: 100%;
    }
    .title{
        font-size: 2em;
        color: #fff;
    }
    .sub_title{
        font-size: 1em;
        color: #fff;
        margin-left: 10px;
    }
}
@media screen and (min-width: 600px) {
    .card{
        width: 1200px;
        margin: 25px auto;
    }
    .cardItem{
        width: 300px;
    }
    .title{
        font-size: 3em;
        color: #fff;
        position: absolute;
        left: 5px;
        top: 120px;
    }
    .sub_title{
        font-size: 2em;
        color: #fff;
        position: absolute;
        top: 170px;
        left: 5px;
    }
}
.ant-carousel .slick-slide {
    padding: 50px;
    line-height: 160px;
    overflow: hidden;
    height: 500px;
  }
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
  .card{
      display: flex;
  }
  .block{
    width: 1200px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  .block  h1{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
}

  .img_01{
    background-image: url('http://oli7sq88l.bkt.clouddn.com/banner/01.jpg');
    background-size: cover
  }
  .img_02{
    background-image: url('http://oli7sq88l.bkt.clouddn.com/banner/02.jpg');
    background-size: cover
}
.img_03{
    background-image: url('http://oli7sq88l.bkt.clouddn.com/banner/03.jpg');
    background-size: cover
}
.img_04{
    background-image: url('http://oli7sq88l.bkt.clouddn.com/banner/04.jpg');
    background-size: cover
}
.img_05{
    background-image: url('http://oli7sq88l.bkt.clouddn.com/banner/05.jpg');
    background-size: cover
}
.img_container{
    width: 100%;
    height: 100%;
    position: relative;

}

.ant-card-head-title{
    border-bottom: 4px solid rgb(247, 111, 0);
}
.ant-card-head{
    border-bottom:0px;
}

.introduction{
    background: rgba(240, 240, 240, 0.651);
    width: 100%;
    height: 550px;
}
.background1{
    background-image: url('http://oli7sq88l.bkt.clouddn.com/index/banner01.jpg');
    background-size: cover;
}
.background1 .ant-card-head-title{
    border-bottom: 1px solid rgba(3, 3, 3, 0.226);
}
.blockCard{
    height: 300px;
}
.collapse{
    width: 100%;
}
.panel{
    margin-bottom: 24 !important;
    border: 0 !important;
    overflow: 'hidden' !important;
}

.panel1{
    background: #a0304665
}
.panel2{
    background: #336d9c60;
}
.panel3{
    background: #57b93469;
}

.background2{
    background: rgba(240, 240, 240, 0.651);
}