
.menu_bar ul{
    padding: 0px !important;
}
.menu_bar li{
    margin-bottom: 20px;
    height: 35px;
    line-height: 35px;
    list-style: none;
}
.menu_bar li a{
    color:#696969;
}
.menu_bar_link{
    background: #0077B4;
    width: 100%;
    display: inline-block;
}

@media screen and (max-width: 600px) {
    .menu_bar{
        display: none; 
    }
}
@media screen and (min-width: 600px) {
    .menu_bar{
        width: 150px;
        background: #fff;
        height: 300px;
        text-align: center;
        padding: 0px !important;
       
    }
    .ant-affix{
        background: #fff;
        height: 300px;
    }
}