
@media screen and (max-width: 600px) {
    .teacherList{
        width: 100%;
        padding: 2em;
    }
}
@media screen and (min-width: 600px) {
    .teacherList{
        width: 1000px;
        margin:  0 auto;
        padding: 2em;
    }
}