
html, body, :global(#root) {
  height: 100%;
}
body{
  /* background-image: url('http://shimmer.neusoft.edu.cn/background/Uploads/2017-12-13/5a307c9334903.jpg'); */
  background-color: #F5F5F5 !important;
  background-attachment: fixed;
}

