.postArticle_container{
    margin: 50px auto;
    padding: 10px 50px;
    width: 1000px;
    background: #fff;
}
.postArticle_content{
    border: 1px solid blue;
    border-radius: 15px;
}
.postArticle_subButton{
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    height: 40px;
}